Django>=4.2.1
django-hijack
django-hijack-admin
django-extensions
jupyter
django-debug-toolbar
django-bootstrap4
django-view-breadcrumbs
django-durationwidget
pip
django-colorfield
django-bootstrap-modal-forms