{% extends "base.html" %}
{% load bootstrap4 static i18n hijack_tags common_tags %}
{% block content %}
<div class=" row justify-content-center mt-1 mb-3">
  <h1>{{model|verbose_name }} {{object.name}} (Client : <a href="{% url 'client:client_detail' object.refer_client.pk %}">{{object.refer_client}}</a>)</h1>
</div>
<div class="row">
  <div class="col col-6 sm-6 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="float-left">Details</h5>
        <a href="{{object.get_change_url}}" class="btn btn-success float-right"><span class="fa fa-edit"></span> {% trans 'edit' %}</a>
      </div>
      <div class="card-body">
        <p>description : {{object.description}}</p>
        <div class='row'>
          <div class="col">startdate : {{object.start_date}}</div>
          <div class="col">end date : {{object.end_date}}</div>
        </div>
        <div class='row'>
          <div class="col">done : {{object.done}}</div>
          <div class="col">close date : {{object.close_date}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-3 sm-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="float-left">Users</h5><a class="btn btn-primary float-right" href="{% url 'user:user_add' %}?project_id={{object.id}}"><span class="fa fa-plus"></span> Add User</a>
      </div>
      <div class="card-body">
        {% for u in object.get_users %}
        <a class="btn btn-sm btn-client" href="{% url 'user:user_detail' u.pk %}" role="button" style="border-color: {{u.color}};">{{u}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col col-3 sm-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="float-left">Tags</h5><a class="btn btn-primary float-right" href="{% url 'tag:tag_add' %}?project_id={{object.id}}"><span class="fa fa-plus"></span> Add Tag</a>
      </div>
      <div class="card-body">
        {% for t in object.get_tags %}
        <a class="btn btn-sm btn-tag" href="{% url 'tag:tag_detail' t.pk %}" role="button" style="background-color: {{t.color}};">{{t}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-12 md-12 sm-12 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="float-left">Tasks</h5><a class="btn btn-primary float-right" href="{% url 'task:task_add' %}?project_id={{object.id}}"><span class="fa fa-plus"></span> Add Task</a>
      </div>
      <table class="card-table table table-striped mb-0">
        <thead>
          <tr>
            <th>Title</th><th>Start date</th><th>End date</th><th>Total Duration</th><th>Status</th><th>Tags</th><th>Users</th><th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in object.get_tasks %}
          <tr>
            <td><a href="{% url 'task:task_detail' task.id %}">[{{task.id}}] {{task.name}}</a></td>
            <td> {{task.start_date}}</td>
            <td> {{task.end_date}}</td>
            <td> {{task.get_total_duration}} | {{ task.get_n_timesheets}} timesheet(s)</td>
            <td>
              {% if task.get_status == 0 %}
              <a href="{% url 'task:task_detail' task.id %}"><span class="fa fa-calendar cal_not_open" title="not yet open"></span></a>
              {% endif %}
              {% if task.get_status == 1 %}
              <a href="{% url 'task:task_detail' task.id %}"><span class="fa fa-calendar-alt cal_open" title="open"></span></a>
              {% endif %}
              {% if task.get_status == 2 %}
              <a href="{% url 'task:task_detail' task.id %}"><span class="fa fa-calendar-alt cal_delay" title="delay"></span></a>
              {% endif %}
              {% if task.get_status == 3 %}
              <a href="{% url 'task:task_detail' task.id %}"><span class="fa fa-calendar-check cal_close" title="close"></span></a>
              {% endif %}
              {% if task.get_status == 4 %}
              <a href="{% url 'task:task_detail' task.id %}"><span class="fa fa-calendar-check cal_close_delay" title="close with delay"></span></a>
              {% endif %}
            </td>
            <td>
              {% for tag in task.get_tags %}
              <a class="btn btn-sm btn-tag" href="{% url 'tag:tag_detail' tag.pk %}" role="button" style="background-color: {{tag.color}};">{{tag}}</a>
              {% endfor %}
            </td>
            <td>
              {% for user in task.get_users %}
              <a class="btn btn-sm btn-user" href="{% url 'user:user_detail' user.pk %}" role="button" style="border-color: {{user.color}};">{{user}}</a>
              {% endfor %}
            </td>
            <td class="float-right"><a class="btn btn-sm btn-success" href="{{task.get_change_url}}"><span class="fa fa-edit"></span></a> <a class="btn confirmation btn-sm btn-danger" href="{{task.get_delete_url}}"><span class="fa fa-times"></span></a></td>

          </tr>
          
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-12 md-12 sm-12 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="float-left">Timesheets</h5><a class="btn btn-primary float-right" href="{% url 'timesheet:timesheet_add'%}?project_id={{object.pk}}"><span class="fa fa-plus"></span> Add Timesheet</a>
      </div>
      <div class="card-body">
        <table class="card-table table table-striped mb-0">
          <thead>
            <tr>
              <th>Title</th><th>Task</th><th>Project</th><th>date</th><th>duration</th><th>Tags</th><th>Users</th><th class="float-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for ts in object.get_timesheets %}
            <tr>
              <td class="mb-0"><a href="{% url 'timesheet:timesheet_detail' ts.id %}">{{ts.name}}</a></td>
              <td class="mb-0"><a href="{% url 'task:task_detail' ts.refer_task.id %}">[{{ts.refer_task.id}}] {{ts.refer_task.name}}</a></td>
              <td class="mb-0"><a href="{% url 'project:project_detail' ts.refer_task.refer_project.id %}">{{ts.refer_task.refer_project.name}}</a></td>
              <td class="mb-0">{{ts.date}}</td>
              <td class="mb-0">{{ts.get_duration}}</td>
              <td class="mb-0">
                {% for tag in ts.get_tags %}
                <a class="btn btn-sm btn-tag" href="{% url 'tag:tag_detail' tag.pk %}" role="button" style="background-color: {{tag.color}};">{{tag}}</a>
                {% endfor %}
              </td>
              <td class="mb-0">
                {% for user in ts.get_users %}
                <a class="btn btn-sm btn-user" href="{% url 'user:user_detail' user.pk %}" role="button" style="border-color: {{user.color}};">{{user}}</a>
                {% endfor %}
              </td>
              <td class="float-right mb-0"><a class="btn btn-sm btn-success" href="{{ts.get_change_url}}"><span class="fa fa-edit"></span></a> <a class="btn confirmation btn-sm btn-danger" href="{{ts.get_delete_url}}"><span class="fa fa-times"></span></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}