{% extends "base.html" %}
{% load bootstrap4 static i18n hijack_tags common_tags %}
{% block content %}
<div class=" row justify-content-center mt-1">
	<h1>{{model|verbose_name}}</h1>
</div>
<div class="row">
  <div class="col col-12 sm-12 mb-4">
    <div class="card">
      <div class="card-header">
        <h3 class="float-left mb-0">{{model|verbose_name }}</h3><a id="btn_add_client" name="btn_add_client" class="client_add btn btn-primary float-right" href="#" data-next="{% url 'client:client_list' %}"><span class="fa fa-plus"></span> Add Client</a>
      </div>
      <table class="card-table table table-striped mb-0">
      	<thead>
         <tr><th>Name</th><th>Total Duration</th><th>Users</th><th>tags</th><th>actions</th></tr>
       </thead>
       <tbody>
         {% for obj in object_list %}
         <tr>
          <td><a href="{% url 'client:client_detail' obj.pk %}">{{ obj.name }}</a></td>
          <td> {{obj.get_total_duration}} | {{ obj.get_n_timesheets}} timesheet(s)</td>
          <td>{% for u in obj.get_users %}
            <a class="btn btn-sm btn-client" href="{% url 'user:user_detail' u.pk %}" role="button" style="border-color: {{u.color}};">{{u}}</a>
            {% endfor %}
          </td>
          <td>{% for t in obj.get_tags %}
            <a class="btn btn-sm btn-tag" href="{% url 'tag:tag_detail' t.pk %}" role="button" style="background-color: {{t.color}};">{{t}}</a>
            {% endfor %}

          </td>
          <td><a class="btn btn-sm btn-success" href="{{obj.get_change_url}}"><span class="fa fa-edit"></span></a> <a class="btn confirmation btn-sm btn-danger" href="{{obj.get_delete_url}}"><span class="fa fa-times"></span></a></td>
        </tr>
        {% empty %}
        <tr><td>No objects yet.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% if is_paginated %}
<div class=" row justify-content-center mt-1">
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">
          <span>First</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          <span>Previous</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">
          <span>First</span>
        </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">
          <span>Previous</span>
        </a>
      </li>
      {% endif %}

      {% for page in paginator.page_range %}
      <li class="page-item {% if page == page_obj.number %}active{% endif %}">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
      </li>
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          <span>Next</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ paginator.num_pages }}">
          <span>Last</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">
          <span>Next</span>
        </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">
          <span>Last</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
{% endblock content %}